/.Xauthority
/.astropy
/.bash_aliases
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cache
/.cdsapirc
/.conda
/.config
/.dodsrc
/.dotnet
/.gemini
/.ipynb_checkpoints
/.ipython
/.jupyter
/.kshrc
/.local
/.netrc
/.npm
/.profile
/.pytest_cache
/.urs_cookies
/.viminfo
/.virtual_documents
/.vscode-server
/.wget-hsts
/2020siberianheatwave
/2020siberianheatwave-detrend-stdanom-allyears.png
/2020siberianheatwave-stdanom-allyears.png
/HW
/__pycache__
/bash.sh
/combine-merra2.sh
/mca.jpg
/testing.ipynb
/time_convert.py
/utils
/data